<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />
        <!-- Incluir el CSS de Leaflet -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    
      <!-- Incluir el script de Leaflet -->
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    
       <!-- Favicon -->
       <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    
        <title>Portafolio - Home</title>
        <link rel="stylesheet" href="style.css" />
      </head>
<body>
     <!-- MENU ENCABEZADO -->
     <div class="contenedor-header">
      <header>
        <div class="logo">
          <a href="#">Charles Revolo</a>
        </div>
        <nav id="nav">
          <ul>
            <li><a href="#inicio" onclick="seleccionar()">INICIO</a></li>
            <li><a href="/acerca-de" onclick="seleccionar()">SOBRE MI</a></li>
            <li><a href="#skills" onclick="seleccionar()">SKILLS</a></li>
            <li>
              <a href="#curriculum" onclick="seleccionar()">CURRICULUM</a>
            </li>
            <li><a href="#portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
            <li><a href="/contact" onclick="seleccionar()">CONTACTO</a></li>
          </ul>
        </nav>
        <div class="nav-responsive" onclick="mostrarOcultarMenu()">
          <i class="fa-solid fa-bars"></i>
        </div>
      </header>
    </div>

    <!-- SECCION INICIO -->
    <section id="inicio" class="inicio">
      <div class="contenido-banner">
        <div class="contenedor-img">
          <img src="img/hero1.png" alt="" />
        </div>
        <h1>Charles Revolo</h1>
        <h2>Estudiante - Desarrollo de Sistemas de Informacion</h2>
        <div class="redes">
          <a href="https://www.facebook.com/charles.revolohinostroza.56" target="_blank"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a href="https://x.com/CharlesRevolo" target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/charles-richar-revolo-hinostroza-67a275278/" target="_blank"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </section>

    <script src="script.js"></script>
</body>
</html>
